body{
  margin-bottom:150px;
}
.nav{
  width: 100%;
}
.active a{
  text-decoration:none;
}
.active{
  text-decoration:none;
}
.tab a{
  font-size: 1.7em;
  margin-right: .6em;
  color:black;
}
pre{
  cursor: pointer;
}
.section{
  display:none;
}
.diagram-section{
  width:600px;
  display:inline-block;
  vertical-align:top;
  margin-right:38px;
}
.content-section{
  width:43%;
  display:inline-block;
  vertical-align:top;
}
